@model IEnumerable<Presentation.Models.Person> 

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<tr>
    @foreach (var item in Model)

    {
        <td>@item.Name</td>
    }


</tr>
<p>Use this area to provide additional information.</p>
